{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>



    <!-- Styling css file for core app -->
    <link rel="stylesheet" href="{% static 'css/core-styles.css' %}">

    
</head>
<body>

    <header>
        <!-- Sidebar -->
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar bg-white">
            <div class="list-group list-group-flush mx-3 mt-4">
                <a href="{% url 'home' %}" class="list-group-item list-group-item-action py-2 {% if request.path  == '/' %} active {% endif %}">Dashboard</a>
                <a href="{% url 'task' %}" class="list-group-item list-group-item-action py-2 {% if '/task/' in request.path %} active {% endif %}">Tasks</a>
                <a href="#" class="list-group-item list-group-item-action py-2 {% if '/time/' in request.path %} active {% endif %}">Time Tracking</a>
                <a href="#" class="list-group-item list-group-item-action py-2 {% if '/teams/' in request.path %} active {% endif %}">Teams</a>
                <a href="" class="list-group-item list-group-item-action py-2">Documents</a>
                <a href="" class="list-group-item list-group-item-action py-2">Schedule</a>
                <a href="" class="list-group-item list-group-item-action py-2">Projects</a>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="list-group-item list-group-item-action py-2 text-danger">Logout</button>
                </form>
            </div>
        </nav>
        <!-- Navbar -->
        <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container-fluid">
                <h1 class="text-primary" href="#">TMS</h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        

                        <li class="nav-item dropdown">
                            <a class="nav-link d-flex align-items-center" href="#"
                                role="button">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle"
                                    height="40" alt="Avatar" loading="lazy">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container pt-4">
            {% include 'includes/messages_alert.html' %}

            {% block content %}
            {% endblock %}
        </div>
    </main>    



</body>
</html>