{% extends 'core/base.html' %}

{% block content %}

<div>
    <h3 class="mb-4">Dashboard</h3>

      <div class="row mb-4 w-100 justify-content-between">
        <div class="col-sm-4">
          <div class="shadow-sm p-3 bg-white rounded-3">
            <p class="mb-1 fw-semibold">Total Tasks </p>
            <p><span class="text-primary"><b>{{total_tasks}}</b></span></p>
          </div>
        </div>
    <div class="col-sm-4">
      <div class="shadow-sm p-3 bg-white rounded-3">
        <p class="mb-1 fw-semibold">Incomplete</p>
        <p><span class="text-primary"><b>{{pending_tasks}}</b></span></p>
      </div>
  </div>
  <div class="col-sm-4">
   <div class="shadow-sm p-3 bg-white rounded-3">
    <p class="mb-1 fw-semibold">Completed</p>
    <p><span class="text-primary"><b>{{completed_tasks}}</b></span></p>
   </div>
</div>
</div>
<div class="shadow-sm p-3 bg-white rounded-3 w-100 p-4">
  <canvas id="myChart4"></canvas>
  </div>
</div>

{% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
{% endif %}


<!-- chartjs javascript coniguration -->
<script>
    const ctx = document.getElementById('myChart');
    const pie_chart = document.getElementById('piChart');

  

new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Operations', 'Dispatching', 'Sales', 'Customer Support', 'IT'],
        datasets: [{
            axis: 'y',
            label: 'Tasks Breakdown among departments',
            data: [65, 59, 80, 81, 56],
            fill: false,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 205, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(201, 203, 207, 0.2)'
            ],
            borderColor: [
                'rgb(255, 99, 132)',
                'rgb(255, 159, 64)',
                'rgb(255, 205, 86)',
                'rgb(75, 192, 192)',
                'rgb(54, 162, 235)',
                'rgb(153, 102, 255)',
                'rgb(201, 203, 207)'
            ],
            borderWidth: 1
        }],
    },
    options: {
        indexAxis: 'y',
        scales: {
            x: {
                grid: {
                    display: false
                },

              
            },
            y: {
                grid: {
                    display: false
                },
                ticks: {
                    display: true // show x-axis ticks
                },
              
            }
        }
    }
});




    new Chart(pie_chart, {
      type: 'doughnut',
      data: {
        labels: ['Total', 'Completed', 'Pending'],
        datasets: [{
          label: 'Tasks Stats',
          data: ['{{total_tasks}}', '{{completed_tasks}}', '{{pending_tasks}}'],
          borderWidth: 1,
          backgroundColor: [
            '#32cd63',
            '#0D6EFD',
            '#ff3333',
            ],
          hoverOffset: 4
        }]
      },
    });



  </script>



{% endblock %}
    
