body {
    background-color: #fbfbfb; 
}
#sidebarMenu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    width: 240px;
    z-index: 600;
}
#main-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
main {
    margin-top: 58px;
    padding-left: 240px;
}

@media (max-width:992px) {
    main {
        padding-left: 0 !important;
    }
}

.task_card_1 {
border-right: 1px solid #DEE2E6;
transition: transform .5s;
}

.task_card_1:hover {
transform: scale(1.05);
}


/* Media screens */
@media screen and (max-width:600px){
.payment_charts {
display: none;
}
.payout_record_filters {
flex-wrap: wrap;
width: 100%;
}
.payout_table {
overflow-x: auto; 
}
}



/* Tasks styling */

.kanban-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    transition: box-shadow 0.2s ease-in-out;
    margin-bottom: 20px;
}
.kanban-card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,.16);
}
.card-footer {
    background-color: transparent;
    border-top: 1px solid #ddd;
}
.card-badge {
margin-right: 5px;}


.task-cards a {
color: inherit; /* Inherit text color */
text-decoration: none; /* Remove underline */
cursor: pointer; /* Change cursor to pointer on hover */
}

 
  canvas{
    height:400px;

  }

  .input-search {
    width: 200px;
}

@media (max-with:992px) {
    .input-search {
        width: auto !important;
    }   
}