{% extends 'core/base.html' %}

{% block content %}

    <div class="w-100">
      <h5>Tasks Info.</h5>
        <form action="{% url 'task' %}" method="get">
              <div class="d-flex border">
                  <div class="p-1 border-end flex-fill d-flex align-content-center justify-content-center">
                    <select name="sort_by" style="border: none;">
                      <option >Sortable by</option>
                      <option value="due_date">Due-Date</option>
                      <option value="priority">Priority</option>
                    </select>
                  </div>
                  
                  
                  <div class="p-1 border-end flex-fill d-flex align-content-center justify-content-center">
                    <select name="status" style="border: none;">
                      <option value="all-tasks">All Tasks</option>
                      <option value="incomplete">In-complete Tasks</option>
                      <option value="complete">Complete Tasks</option>
                    </select>
                  </div>
 
                  <div class="p-1 border-end flex-fill">
                    <input type="text" name="title" class="form-control" style="border:none;" placeholder="Search task title" aria-label="Search username" aria-describedby="basic-addon2">
                  </div> 

                
                <div class="border-end flex-fill">
                  <button class="btn btn-primary ml-4 w-100 h-100" placeholder="Search" type="submit">Search</button>
                </div>
              </form>
              <div class="border-end flex-fill">
                <button type="button" class="btn btn-primary w-100 h-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Create New Task
                </button>
              </div>
            </div>

          
<!-- Modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="{% url 'task' %}" method="post">
        {% csrf_token %}
        <div class="modal-header">
          <h3 class="modal-title text-uppercase fw-bold" id="exampleModalLabel">Create New Task</h3>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <!-- <div class="row">
              <div class="form-group col-md-6">
                <label for="" class="fw-normal">Employee Name</label><br>
                {{form.employee}}
              </div> -->
              <div class="row mb-3">
              
              <div class="form-group col-md-6">
                <label for="" class="fw-normal">Title</label><br>
                {{form.title}}
                <!-- <input id="direct_incentive" class="form-control" name="direct_incentive" type="text" value=""> -->
              </div>
              <div class="form-group col-md-6">
                <label for="" class="fw-normal">Description</label><br>
                {{form.description}}
                <!-- <input id="indirect_incentive" class="form-control" name="indirect_incentive" type="text" value=""> -->
              </div>
            </div>
            
            <div class="row mb-3">
              <div class="form-group col-md-6">
                <label for="" class="fw-normal">Due Date</label>
                {{form.due_date}}
              </div>
              <div class="form-group col-md-6">
                <label for="" class="fw-normal">Assigned To</label><br>
                {{form.assigned_user}}
              </div>
            </div>
            
            <div class="row mb-3">
              <div class="form-group col-md-6">
                <label for="" class="fw-normal">Status</label>
                {{form.status}}
              </div>
              <div class="form-group col-md-6">
                <label for="" class="fw-normal">Task Priority</label><br>
                {{form.task_priority}}
              </div>
            </div>
  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create Task</button>
          </div>
        </form>
    </div>
  </div>
</div>

              </div>
          </div>  
     <!-- Payout Records -->
        <table class="table table-bordered payout_table">  
          {% for slip in salary_slips %}  
          <tr>
              <td>
                <span style="font-size: 12px; color: #9E9999;">Sr#</span>
                <div><span style="font-size: 14px; color: black;">{{forloop.counter}}</span></div>
              </td>
              <td>
                <form action="{%  url 'get_salary_slip' slip.slip_no %}">
                <span style="font-size: 12px; color: #9E9999;">Slip #</span>
                      <input type="hidden" name="slip_no" value="">
                      <div><button type="submit" style="font-style: none; border: none; background-color: transparent; color: #1D8AFF; text-decoration: underline;">{{slip.slip_no}}</button></div>
                </form>
              </td>
              <td>
                <span style="font-size: 12px; color: #9E9999;">Date</span>
                  <div><span style="font-size: 14px; color: black;">{{slip.slip_date}}</span></div>
              </td>
              <td>
                <span style="font-size: 12px; color: #9E9999;">Employee Name</span>
                  <div><span style="font-size: 14px; color: black;">{{slip.employee}}</span></div>
              </td>
              <td>
                <span style="font-size: 12px; color: #9E9999;">Base Salary</span>
                  <div><span style="font-size: 14px; color: black;">{{slip.basic_salary}} Rs</span></div>
              </td>
              <td>
                <span style="font-size: 12px; color: #9E9999;">Total Earnings</span>
                  <div><span style="font-size: 14px; color: black;">{{slip.total_earnings}} Rs</span></div>
              </td>
              <td>
                <span style="font-size: 12px; color: #9E9999;">Total Deduction</span>
                  <div><span style="font-size: 14px; color: black;">{{slip.total_deduction}} Rs</span></div>
              </td>
              <td>
                <span style="font-size: 12px; color: #9E9999;">Net Payment</span>
                  <div><span style="font-size: 14px; color: black;">{{slip.net_salary}} Rs</span></div>
              </td>
              <td>
                <span style="font-size: 12px; color: #9E9999;">Payment Status</span>
                  <div><span style="font-size: 14px; color: black;">{{slip.salary_status}}</span></div>
              </td>
              <td>
                <span style="font-size: 12px; color: #9E9999;">Action</span>
                  <div><span style="font-size: 14px; color: black;"><a href="{% url 'salary-slip' slip.id %}">View</a></span></div>
              </td>
            </tr>
        {% endfor %}
        </table>
        
  
      </div>
      
    </div>

  </div>
  


<div class="container py-5">
  <div class="row">
    {% for task in tasks %}  
    <div class="col-md-4 task-cards">
          <a href="{% url 'task-update' task.id %}">
              <div class="card kanban-card">
                  <div class="card-body">
                      <h5 class="card-title">{{task.title}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Due: {{task.due_date}}</h6>
                      <p class="card-text">{{ task.description|truncatechars:30 }}</p>
                      <div>
                          <span class="badge bg-primary card-badge">{{task.task_priority}}</span>
                          <span class="badge bg-secondary card-badge">{{task.status}}</span>
                      </div>
                  </div>
                  <div class="card-footer">
                      <small class="text-muted">Assigned to: {{task.assigned_user}}</small>
                  </div>
                </a>
              </div>
        </div>
      {% endfor %}
</div>
</div>





{% endblock %}
    
